{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Por favor ingrese (y confirme) su contraseña nueva.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confime contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar contraseña" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Falló reestablecimiento de contraseña</h1>
        <p>El enlace de reestablecimiento de contraseña es invalido, posiblemente porque ya fue usado. Por favor solicite un nuevo reestablecimiento de contraseña.</p>
    {% endif %}

{% endblock %}