{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Autores</h1>

    {% if autor_list %}
    <ul>

      {% for autor in autor_list %}
      <li>
        <a href="{{ autor.get_absolute_url }}">{{ autor.apellido }}, {{ autor.nombre }} ({%if autor.fecha_de_nacimiento%}{{autor.fecha_de_nacimiento}}{%endif%} - {%if autor.fecha_de_deceso%}{{autor.fecha_de_deceso}}{%endif%})</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay Autores registrados.</p>
    {% endif %} 
{% endblock %}